beautifulsoup4==4.14.2
dashscope==1.24.9
faiss-gpu-cu12==1.12.0
fastapi==0.120.4
hf_transfer==0.1.9
langchain==1.0.3
langchain-community==0.4.1
langchain-deepseek==1.0.0
langchain-huggingface==1.0.1
langgraph-api==0.5.8
langgraph-cli==0.4.7
onnxruntime==1.19.2
pipdeptree==2.29.0
sentence-transformers==5.1.2
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
unstructured-client==0.42.3
wheel==0.45.1
sentence-transformers==5.1.2
PyYAML~=6.0.3
langchain-core~=1.0.4
langchain-text-splitters~=1.0.0
langgraph~=1.0.3
requests~=2.32.5
pydantic~=2.12.4
langchain-openai~=1.0.2
ipython~=9.7.0